# pip install -r requirements.txt

tensorflow
jupyter
torch
torchvision
torchaudio
opencv-python
scikit-image
pandas 
numpy 
tensorboard
mahotas
sciPy
pillow
matplotlib
kaggle
numba
sklearn
filterpy
PyYAML>=5.3.1
tqdm
seaborn
pandas
easydict
